objectdetection/train/.venv/


objectdetection/train/dataset/
objectdetection/train25/.venv/


objectdetection/train25/dataset/
objectdetection/fifty/.ipynb_checkpoints/
objectdetection/test/tensorflow-models/
objectdetection/test/result/
objectdetection/test/models/
main_program/rust/obtflite/target/
objectdetection/train25/dataset/
objectdetection/train25/.venv/
objectdetection/fifty/.ipynb_checkpoints/
objectdetection/train/dataset/
objectdetection/train/.venv/
objectdetection/coral/
objectdetection/test/__pycache__/
objectdetection/test/images/
main_program/rust/callPython/target/

main_program/rust/lidar_plot/target/

objectdetection/train/

main_program/rust/Robot/target/debug
main_program/rust/Robot/target/armv7-unknown-linux-musleabihf
main_program/rust/Robot/target/release
main_program/rust/Robot/target/.cargo

main_program/rust/Robot/target/release
main_program/rust/Robot/target/.rustc_info.json
main_program/rust/Robot/target/.rustdoc_fingerprint.json
main_program/rust/Robot/target/.rustdoc_fingerprint.json
main_program/rust/Robot/target/CACHEDIR.TAG