
objectdetection/test/tensorflow-models/

objectdetection/test/result/

objectdetection/test/models/

objectdetection/test/images/

objectdetection/test/__pycache__/

objectdetection/coral/

objectdetection/train/.venv/

objectdetection/train/dataset/

objectdetection/fifty/.ipynb_checkpoints/

objectdetection/train25/.venv/

objectdetection/train25/dataset/

main_program/rust/obtflite/target/
